<div class="ui padded grid">
  <div class="column">
    <div class="ui raised segment">
      <a class="ui olive ribbon label">建议或意见</a>
      <p></p>
      <form action="" class="ui form">
        <div class="field">
          <textarea placeholder="不吐不快"></textarea>
        </div>
        <div class="ui labeled button" tabindex="0">
          <div class="ui red button"><i class="send icon"></i>Angry</div>
          <a class="ui basic red left pointing label">乖乖的去改进吧</a>
        </div>
      </form>
    </div>
  </div>
</div>
