<div class="ui padded grid">
  <div class="row">
    <div class="column">
      <div class="ui fluid container">
        <div class="ui segment">
          <div class="ui animated fade basic yellow button pay" tabindex="0">
            <div class="visible content">消费</div>
            <div class="hidden content">
              <i class="shop icon"></i>
            </div>
          </div>
          <div class="ui animated fade basic teal button recharge" tabindex="0" ng-click="recharge()">
            <div class="visible content">充值</div>
            <div class="hidden content"><i class="add to cart icon"></i></div>
          </div>
          <div class="ui animated fade basic positive button" tabindex="0">
            <div class="visible content">会员办理</div>
            <div class="hidden content"><i class="add user icon"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top: 0;">
    <div class="column">
      <div class="ui container fluid">
      <div class="ui segment">
        <!-- <h4 class="ui header">收银记录</h4> -->
        <div class="ui grid">
          <div class="one column row">
            <div class="column">
              <div class="ui fluid container">
                <table class="ui striped selectable single line celled table">
                  <thead>
                    <tr class="first">
                      <th class="collapsing">
                        <div class="ui fitted slider checkbox master" ng-click="checkMaster($event)">
                          <input type="checkbox" name="list-checkbox">
                          <label></label>
                        </div>
                      </th>
                      <th ng-repeat="head in paymentTable.heads">
                        <div class="ui list">
                          <div class="item">
                            <div class="right floated content">
                              <i class="filter icon"></i>
                            </div>
                            <div class="content">
                              {{head}}
                            </div>
                          </div>
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="list {{list.selected}}" ng-repeat="list in paymentTable.lists" ng-click="checkTr($event)">
                      <td class="collapsing">
                        <div class="ui fitted slider checkbox child">
                          <input type="checkbox" name="list-checkbox" class="tr-checkbox" value="{{list.id}}">
                          <label></label>
                        </div>
                      </td>
                      <td>
                        {{list.customer}}
                      </td>
                      <td>
                        {{list.phone}}
                      </td>
                      <td>
                        {{list.balances}}
                      </td>
                      <td>
                        {{list.consumeTime}}
                      </td>
                      <td>
                        <div class="ui pink label">{{list.expense}}</div>
                      </td>
                      <td>
                        {{list.deductBalance}}
                      </td>
                      <td>
                        {{list.cash}}
                      </td>
                      <td>
                        {{list.change}}
                      </td>
                      <td>
                        {{list.coupon}}
                      </td>
                      <td>
                        {{list.isVip}}
                      </td>
                      <td>
                        {{list.note}}
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th colspan="12">
                        <div class="ui right floated pagination menu">
                          <a class="icon item">
                            <i class="left chevron icon"></i>
                          </a>
                          <a class="item">1</a>
                          <a class="item">2</a>
                          <a class="item">3</a>
                          <a class="item">4</a>
                          <a class="icon item">
                            <i class="right chevron icon"></i>
                          </a>
                        </div>
                      </th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="ui modal pay">

  <div class="ui inverted dimmer pay-loader {{payLoader.active}}">
    <div class="ui text loader"></div>
  </div>

  <i class="close icon"></i>
  <div class="header">
    消费
  </div>
  <div class="content">
    <div class="ui internally celled grid">
      <div class="row">
        <div class="six wide column">
          <div class="ui card">

            <div class="image">
              <img src="images/card2.png">
            </div>
            <div class="content">
              <div class="right floated meta">8次</div>
              <img class="ui avatar image" src="images/avatar.png"> Elliot
            </div>
            <div class="content">
              <i class="phone icon"></i>
              12345678901
            </div>
            <div class="extra content">
              <i class="yen icon"></i>
              <div class="ui red large label">888.00</div>
            </div>
          </div>
        </div>

        <a class="ui red right corner label login-switch">
          <i class="qrcode icon" style="font-size: 52px; color: #fff; left: 0; top: 0; cursor: pointer;"></i>
        </a>

        <div class="ten wide column">
          <form class="ui form">

            <h4 class="ui horizontal divider header">
              <i class="payment icon"></i>
              基本信息
            </h4>

            <div class="sixteen wide field">
              <label>手机</label>
              <div class="ui left action input">
                <select class="ui compact selection dropdown">
                  <option selected value="+86">+86</option>
                </select>
                <input type="text" placeholder="后4位或全号">
              </div>
            </div>
            <div class="sixteen wide required field">
              <label>消费金额（元）</label>
              <div class="ui left labeled input">
                <div class="ui basic label">
                  <i class="yen icon"></i>
                </div>
                <input type="text" placeholder="消费金额(RMB)">
              </div>
            </div>
            <div class="sixteen wide required field">
              <label>收银（元）</label>
              <div class="ui left labeled input">
                <div class="ui basic label">
                  <i class="yen icon"></i>
                </div>
                <input type="text" placeholder="收银金额(RMB)">
              </div>
            </div>
            <div class="sixteen wide field">
              <label>找零（元）</label>
              <div class="ui left labeled input">
                <div class="ui basic label">
                  <i class="yen icon"></i>
                </div>
                <input disabled type="text" placeholder="找零金额(RMB)，自动计算">
              </div>
            </div>

            <!-- <h4 class="ui horizontal divider header">
              <i class="warning circle icon"></i>
              附加信息
            </h4> -->

            <div class="ui accordion field">
              <div class="active title">
                <i class="icon dropdown"></i> 附加信息
              </div>
              <div class="active content field">
                <div class="sixteen wide field">
                  <label>折扣</label>
                  <div class="ui right labeled input">
                    <input type="text" placeholder="[0.1-9.9]">
                    <div class="ui basic label">
                      折
                    </div>
                  </div>
                </div>
                <div class="sixteen wide field">
                  <label>验证码</label>
                  <div class="ui left action input">
                    <button class="ui basic button">
                      <i class="talk outline icon"></i>
                    </button>
                    <input type="text" placeholder="短信验证码">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui animated fade basic button" ng-click="payCancel()">
      <div class="visible content">取消</div>
      <div class="hidden content">
        <i class="frown icon"></i>
      </div>
    </div>
    <div class="ui yellow button" ng-click="paySubmit()">
      <i class="smile icon"></i>
      宝宝收下啦
    </div>
  </div>
</div>

<div class="ui modal recharge">

  <div class="ui inverted dimmer recharge-loader {{rechargeLoader.active}}">
    <div class="ui text loader"></div>
  </div>

  <i class="close icon"></i>
  <div class="header">
    充值
  </div>
  <div class="content">
    <div class="ui internally celled grid">
      <div class="row">
        <div class="six wide column">
          <div class="ui card">

            <div class="image">
              <img src="images/card2.png">
            </div>
            <div class="content">
              <div class="right floated meta">1次</div>
              <img class="ui avatar image" src="images/avatar.png"> Emma
            </div>
            <div class="content">
              <i class="phone icon"></i>
              12345678901
            </div>
            <div class="extra content">
              <i class="yen icon"></i>
              <div class="ui red large label">0.00</div>
            </div>
          </div>
        </div>

        <a class="ui red right corner label login-switch">
          <i class="qrcode icon" style="font-size: 52px; color: #fff; left: 0; top: 0; cursor: pointer;"></i>
        </a>

        <div class="ten wide column">
          <form class="ui form">

            <h4 class="ui horizontal divider header">
              <i class="payment icon"></i>
              基本信息
            </h4>

            <div class="sixteen wide required field">
              <label>手机</label>
              <div class="ui left action input">
                <select class="ui compact selection dropdown">
                  <option selected value="+86">+86</option>
                </select>
                <input type="text" placeholder="后4位或全号">
              </div>
            </div>
            <div class="sixteen wide required field">
              <label>充值金额（元）</label>
              <div class="ui left labeled input">
                <div class="ui basic label">
                  <i class="yen icon"></i>
                </div>
                <input type="text" placeholder="充值金额(RMB)">
              </div>
            </div>
            <div class="sixteen wide required field">
              <label>收银（元）</label>
              <div class="ui left labeled input">
                <div class="ui basic label">
                  <i class="yen icon"></i>
                </div>
                <input type="text" placeholder="收银金额(RMB)">
              </div>
            </div>
            <div class="sixteen wide field">
              <label>找零（元）</label>
              <div class="ui left labeled input">
                <div class="ui basic label">
                  <i class="yen icon"></i>
                </div>
                <input disabled type="text" placeholder="找零金额(RMB)，自动计算">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui animated fade basic button" ng-click="rechargeCancel()">
      <div class="visible content">取消</div>
      <div class="hidden content">
        <i class="frown icon"></i>
      </div>
    </div>
    <div class="ui primary button" ng-click="rechargeSubmit()">
      <i class="smile icon"></i>
      提交
    </div>
  </div>
</div>
