<div class="ui padded equal grid">
  <div class="row">
    <div class="column">
        <div class="ui special cards">
          <div class="card">
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <div class="ui inverted button">立即购买</div>
                  </div>
                </div>
              </div>
              <img src="images/avatar.png">
            </div>
            <div class="content">
              <a class="header">短信通知100套餐</a>
              <div class="meta">
                <span class="">1250 条</span>
              </div>
            </div>
            <div class="extra content">
              <a>
                <i class="yen icon"></i>
                100
              </a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
