<div class="ui padded grid">
  <div class="row">
    <div class="column">
      <div class="ui segment">
        <div class="ui animated fade basic teal button" tabindex="0">
          <div class="visible content">新增</div>
          <div class="hidden content">
            <i class="add user icon"></i>
          </div>
        </div>
        <div class="ui animated fade basic red button" tabindex="0">
          <div class="visible content">删除</div>
          <div class="hidden content"><i class="remove user icon"></i></div>
        </div>
        <div class="ui animated fade basic violet button" tabindex="0">
          <div class="visible content">修改</div>
          <div class="hidden content"><i class="edit icon"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top: 0;">
    <div class="column">
      <div class="ui segment">
        <!-- <h4 class="ui header">商家会员列表</h4> -->
        <div class="ui grid">
          <div class="one column row">
            <div class="column">
              <table class="ui striped selectable celled table">
                <thead>
                  <tr class="first">
                    <th class="collapsing">
                      <div class="ui fitted slider checkbox master" ng-click="checkMaster($event)">
                        <input type="checkbox" name="list-checkbox" class="th-checkbox">
                        <label></label>
                      </div>
                    </th>
                    <th ng-repeat="head in vipsTable.heads">
                      <div class="ui list">
                        <div class="item">
                          <div class="right floated content"><i class="filter icon"></i></div>
                          <div class="content">{{head}}</div>
                        </div>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="list {{list.selected}}" ng-repeat="list in vipsTable.lists" ng-click="checkTr($event)">
                    <td class="collapsing">
                      <div class="ui fitted slider checkbox child">
                        <input type="checkbox" name="list-checkbox" class="tr-checkbox">
                        <label></label>
                      </div>
                    </td>
                    <td>
                      {{list.customer}}
                    </td>
                    <td>
                      {{list.phone}}
                    </td>
                    <td>
                      <div class="ui red label">{{list.balances}}</div>
                    </td>
                    <td>
                      {{list.note}}
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th colspan="5">
                      <div class="ui right floated pagination menu">
                        <a class="icon item">
                          <i class="left chevron icon"></i>
                        </a>
                        <a class="item">1</a>
                        <a class="item">2</a>
                        <a class="item">3</a>
                        <a class="item">4</a>
                        <a class="icon item">
                          <i class="right chevron icon"></i>
                        </a>
                      </div>
                    </th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
